extends ../layout.jade

block title
    title 留言 - I'm Mofei

block css
    link(rel="stylesheet" href= host + "/css/blog.css")
    link(rel="stylesheet" href= host + "/css/tools/default.css")

block javascriptBeforeLoad
    script.
        function avatarError(e){
            if(e.src.indexOf("www.gravatar.com") > -1 ){
                e.src = e.src.replace("www.gravatar.com", "gravatar.duoshuo.com")
            } else if(e.src.indexOf("gravatar.duoshuo.com") > -1){
                e.src = host + "/image/nobody.jpg";
            } else if(e.src != "/image/nobody.jpg") {
                e.src = host + "/image/nobody.jpg";
            }
        }
block javascript
    script(src= host + "/js/tools/utility.js")
    script(src= host + "/js/tools/md5.min.js")
    script(src= host + "/js/message/message.js")
    script(src= host + "/js/message/message.main.js")
        

block content
    include ../../system/jade/nav.jade
    include ../../system/jade/comment.jade
    include ../copyright.jade
