extends ../layout.jade

block title
    title 博客 - I'm Mofei

block css
    link(rel="stylesheet" href="/css/blog.css")
    link(rel="stylesheet" href="/css/tools/default.css")

block javascriptBeforeLoad
    script.
        function avatarError(e){
            if(e.src.indexOf("www.gravatar.com") > -1 ){
                e.src = e.src.replace("www.gravatar.com", "gravatar.duoshuo.com")
            } else if(e.src.indexOf("gravatar.duoshuo.com") > -1){
                e.src = "/image/nobody.jpg";
            } else if(e.src != "/image/nobody.jpg") {
                e.src = "/image/nobody.jpg";
            }

        }
block javascript
    script(src="/js/tools/utility.js")
    script(src="/js/tools/md5.min.js")
    script(src="/js/message/message.js")
        

block content
    include ../../system/jade/nav.jade

    include ../../system/jade/comment.jade

    

    section.index-copyright
        div.index-copyright-bottom
            div.index-copyright-bottom-txt (C) 2016 by 
                a(href="http://www.zhuwenlong.com") Mofei 


