section.global-nav-text
    div.global-nav-text-logo I'm Mofei
    a.global-nav-btn#navTar(href="#")
    div.global-nav-text-link
        ul
            li
                a.active(href="/") 首页
                a(href="/blog") 博客
                a(href="/lab") 实验室
                a(href="/message") 留言
                a(href="/links") 小伙伴
                a(href="/rss") rss
