@import '../../system/config/config.scss';
body,
html {
    background: #f7f7f7;
    padding: 0;
    margin: 0;
    font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Open Sans';
    src: url($host + '/font/OpenSans-Light.eot?eyv41e');
    src: url($host + '/font/OpenSans-Light.eot?eyv41e#iefix') format('embedded-opentype'), url($host + '/font/OpenSans-Light.ttf?eyv41e') format('truetype'), url($host + '/font/OpenSans-Light.woff?eyv41e') format('woff'), url($host + '/font/OpenSans-Light.svg?eyv41e#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

body a {
    color: #f15623;
    text-decoration: none;
}

@font-face {
    font-family: 'icomoon';
    src: url($host + '/font/icomoon.eot?eyv41e');
    src: url($host + '/font/icomoon.eot?eyv41e#iefix') format('embedded-opentype'), url($host + '/font/icomoon.ttf?eyv41e') format('truetype'), url($host + '/font/icomoon.woff?eyv41e') format('woff'), url($host + '/font/icomoon.svg?eyv41e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import '../scss/component/nav.scss';
.blog-title {
    /*height: 280px;*/
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /*background: url("/image/index/cover.jpg") center;*/
    background-size: cover;
}

.blog-search {
    border-top: 1px solid #525252;
    display: none;
    padding: 20px 40px 10px;
    margin: 0 auto;
    background: #000;
    font-size: 12px;
    line-height: 1.8em;
}

.blog-search-box {
    text-align: center;
    max-width: 920px;
    margin: 0 auto;
}

.blog-search-tag {
    /*border-radius: 4px;*/
    display: inline-block;
    margin: 0 20px 8px 0;
    border: 1px solid #ccc;
    color: #ccc;
    font-weight: 500;
    padding: 6px 16px;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
}

.blog-search-tag:hover {
    background: #C5C5C5;
    border-color: #C5C5C5;
    color: #333;
}

.blog-search-tag.active {
    background: #fff;
    border-color: #fff;
    color: #333;
}

.blog-search-btn {
    max-width: 1120px;
    margin: 0 auto;
    display: none;
    border-top: 1px dashed #444444;
    padding-top: 10px;
    text-align: center;
}

.blog-search-btn btn {
    margin: 0 0 8px;
    border: 1px solid #ccc;
    border-radius: 100px;
    /*background: #f15623;*/
    padding: 6px 40px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
}

.blog-search-btn btn:hover {
    background: #fff;
    border-color: #fff;
    color: #333;
}

.blog-search-toggle {
    height: 10px;
    line-height: 10px;
    font-size: 18px;
    font-family: "icomoon";
    text-align: center;
    color: #ccc;
    border-top: 1px solid #525252;
    background: #333;
    cursor: pointer;
    /*line-height: 1em;*/
}

.blog-search-toggle:hover {
    background: #525252;
}

svg {
    max-width: 1000px;
    margin: 0 auto;
}

svg path {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: title 4s ease-in forwards;
}

@keyframes title {
    0% {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }
    80% {
        stroke-dashoffset: 0;
        fill: rgba(0, 0, 0, 0);
    }
    100% {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        fill: rgba(0, 0, 0, 0.2);
    }
}

.blog-content-area {
    // background: #fafafa;
    padding-top: 30px;
    min-width: 850px;
    max-width: 1200px;
    margin: 0 auto;
    /*padding-top: 20px;*/
    overflow: hidden;
}

.blog-content-block {
    /*border-bottom: 1p*/
    min-width: 770px;
    position: relative;
    margin: 0 0px 20px 0px;
    // border-radius: 3px;
    // background: white;
    /*border-bottom: 1px solid #F7F7F7;*/
    // box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    // border: 1px solid rgba(0, 0, 0, .09);
    padding: 30px 30px 25px;
    color: #333;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 30px;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    &:last-child {
        margin-bottom: 0;
    }
}

.blog-content-block a {
    text-decoration: none;
}

.blog-content-block h2 {
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.blog-review {
    color: #666;
    line-height: 1.6em;
    position: relative;
    font-size: 16px;
    overflow: hidden;
    margin: 5px 0 10px 0;
}

.blog-content-block h2:hover,
.blog-review:hover {
    color: #f15623;
}

.blog-tag {
    font-family: "icomoon";
    font-size: 16px;
    padding: 4px 0;
    color: #999;
    padding: 12px 0;
}

.blog-tag a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin: 0 10px 0 0;
    background-color: rgb(123, 188, 255);
    font-size: 14px;
    line-height: 1.8em;
    padding: 0 15px;
}

.blog-tag a:hover {
    background: rgb(61, 156, 253);
}

.blog-time {
    float: left;
}

.blog-time span {
    margin-right: 10px;
}

.blog-read {
    float: right;
}

.blog-content {
    // background: #fafafa;
    padding-bottom: -20px;
}

.blog-content-img {
    float: left;
    /*width: 40%;*/
    /*height: 100px;*/
    margin-right: 20px;
}

.blog-content-img img {
    width: 100%;
    min-height: 210px;
}

.blog-content-img-body {
    opacity: 0.9;
    position: absolute;
    width: 40%;
    margin-left: 2px;
    top: 16px;
    bottom: 16px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.blog-content-img-body:hover {
    opacity: 1;
}

.blog-content-text {
    min-width: 420px;
    /*height: 150px;*/
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    left: 40%;
    margin-left: 40px;
    right: 0;
    top: 16px;
    bottom: 16px;
}

.blog-info {
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    color: #c0c0c0;
    padding: 10px 0 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    font-family: "icomoon";
}

.blog-content-text.noimg {
    position: relative;
    margin-left: 0;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

.blog-content-text.noimg .blog-info {
    position: relative;
}

.blog-content-text h2 {
    /*padding-bottom: 12px;*/
    /*border-bottom: 1px solid #f4f4f4;*/
    font-size: 24px;
    margin-top: 0;
}


/*******/

.blogn-content-block {
    margin: 0 40px 4px;
    /*background: rgba(255, 255, 255, 0.9);*/
    padding: 20px 60px;
    color: #333;
    overflow: hidden;
}

.blogn-title {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.blog-sub-title {
    font-size: 16px;
    /*text-align: center;*/
    color: #999;
}

.blogn-text {
    padding: 18px 0;
    line-height: 2em;
    font-size: 16px;
}

.index-copyright-bottom {
    /*opacity: 0.95;*/
    // background: rgba(255, 255, 255, 0.95);
    background: white;
    padding-top: 10px;
}

@import 'copyright.scss';
.index-copyright-bottom-txt {
    background: white;
}


/** article **/

.article-pubinfo {
    margin-bottom: 20px;
}

.article-content,
.article-info,
.article-tags {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 0 40px;
    font-size: 16px;
    color: #444;
    line-height: 1.6em;
    box-sizing: border-box;
    /*padding-top: 30px;*/
}

.article-content {
    overflow: hidden;
    margin-top: 20px;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
    /*color:#8F8F8F;*/
    margin: 29px 0 0;
    font-weight: 300;
    line-height: 1.8em;
}

.article-content h1 {
    /*color:#333;*/
    font-size: 34px;
    margin-bottom: 20px;
}

.article-content h2 {
    font-size: 27px;
}

.article-content h3 {
    font-size: 24px;
}

.article-content h4 {
    font-size: 21px;
}

.article-content h5 {
    font-size: 18px;
}

.article-content h6 {
    font-size: 16px;
}

.article-content p {
    margin: 10px 0;
}

.article-content a {
    color: #f15623;
    /*text-decoration: none;*/
}

.article-content table,
.article-content td,
.article-content th {
    padding: 5px 15px;
    border-collapse: collapse;
    border: 1px solid #ececec;
}

.article-content td {
    color: #666;
}

.article-content code {
    background: #f4f4f4;
    padding: 3px 5px;
    margin: 3px 5px;
    display: inline-block;
    /*border-radius: 2px;*/
}

.article-content pre code {
    padding: 10px;
    display: block;
    /*width: 100%;*/
    margin: 0;
}

.article-content hr {
    margin: 28px 0;
    border: none;
    border-bottom: 1px solid #F3ECEC;
}

.article-tags {
    // margin-top: 20px;
}

.article-tags a {
    display: inline-block;
    padding: 5px 10px;
    background: #eee;
    color: #666;
    text-decoration: none;
    margin: 10px 10px 0 0;
    border-radius: 4px;
}

.article-tags a:hover {
    background: #f15623;
    color: #fff;
}

.article-info {
    // margin-top: 20px;
    // overflow: hidden;
    /*line-height: 1.6em;*/
    font-family: 'icomoon';
    border-bottom: 1px solid #e9e9e9;
}

.article-info span {
    height: 60px;
    line-height: 60px;
    color: #999;
}


/*** comment ****/

.article-info-icon {
    font-size: 20px;
    margin-right: 5px;
    /*margin-left: 10px;*/
}

.article-fns {
    text-align: center;
}

.article-fns-block {
    display: inline-block;
    cursor: pointer;
    font-size: 40px;
    height: 75px;
    line-height: 75px;
    color: #999;
    width: 75px;
    margin: 3px 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 100px;
    // padding: 15px;
    position: relative;
    cursor: pointer;
}

.article-fns-block.active,
.article-fns-block:hover {
    color: #f15623;
    span {
        color: #f15623;
    }
    border-color: #f15623;
    border-width: 1px;
    margin-top: 0;
    margin-bottom: -3px;
}

.article-info-award:hover {
    .article-info-award-box {
        display: block;
    }
}

.article-info-award-box {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #e4e4e4;
    bottom: 90px;
    left: 50%;
    height: 200px;
    width: 300px;
    height: 170px;
    font-size: 12px;
    margin-left: -150px;
    img {
        width: 150px;
        height: 170px;
    }
    .article-info-award-arrow {
        position: absolute;
        width: 16px;
        height: 16px;
        border: 1px solid #e4e4e4;
        border-top: none;
        border-right: none;
        bottom: 0;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        background: white;
        left: 50%;
        margin-left: -8px;
        margin-bottom: -9px;
    }
}

.blog-pages {
    padding: 10px 0;
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

.blog-pages a,
.blog-pages span {
    color: #999;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #fff;
    margin: 0 2px;
    background: white;
    font-size: 14px;
}

.blog-pages a.active,
.blog-pages a:hover {
    border-radius: 2px;
    border: 1px solid #f15623;
    color: #fff;
    background: #f15623;
}

@import "./component/comment.scss";
.popbox {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10000;
    transition: all 0.5s ease-in;
}

.popbox-in {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    margin: -200px;
    background: white;
}

.popbox-close {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    position: absolute;
    top: 0;
    right: 0;
    margin: -20px;
    background: url($host + '/image/index/close.svg') no-repeat center #999;
    cursor: pointer;
}

.message-login {
    padding: 20px;
    line-height: 1.6em;
    font-size: 12px;
    color: #F15623;
}

.message-login input {
    border: none;
    border-bottom: 1px solid #ccc;
    background: none;
    width: 300px;
    padding: 10px 4px;
    margin-bottom: 10px;
    outline: none;
}

.message-login input:focus {
    border-bottom: 1px solid #f15623;
}

.message-login-title {
    font-size: 16px;
    color: #333;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
}

.message-login-btn {
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #f15623;
    color: #f15623;
    margin: 10px 0;
    background: #f4f4f4;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
}

.message-login-btn:hover {
    background: #f15623;
    color: #fff;
}

@media (max-width: 1220px) {
    .article-content {
        overflow: hidden;
        margin-top: 0px;
    }
}

@media (max-width: 900px) {
    .global-nav-text-link li a {
        color: #fff;
        background: rgba(51, 51, 51, 0.95);
        border-bottom: 1px solid #484848;
    }
    .blog-content-area {
        padding-top: 0;
        min-width: 0;
    }
    .blog-content-block {
        margin: 20px;
        box-sizing: border-box;
        min-width: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .blog-content-text {
        min-width: 0;
        h2 {
            font-size: 18px;
        }
        .blog-info {
            font-size: 14px;
        }
    }
    .blog-tag {
        font-size: 12px;
        a {
            font-size: 12px;
            padding: 2px 5px;
        }
    }
    .blog-review {
        font-size: 14px;
        line-height: 2em;
    }
    .blog-search {
        padding: 20px 20px 10px;
    }
    .blog-search-box {
        // text-align: left;
        .blog-search-tag {
            font-size: 14px;
            margin: 0 10px 4px 0;
            padding: 4px 10px;
        }
    }
    .blog-search-btn {
        padding-top: 5px;
        btn {
            margin: 0;
            padding: 4px 20px;
        }
    }
    .article-content {
        padding: 0 20px;
        font-size: 14px;
        img {
            max-width: 100%;
        }
    }
    .article-content h1 {
        /*color:#333;*/
        font-size: 19px;
        margin: 20px 0 10px 0;
    }
    .article-content h2 {
        font-size: 18px;
    }
    .article-content h3 {
        font-size: 17px;
    }
    .article-content h4 {
        font-size: 16px;
    }
    .article-content h5 {
        font-size: 15px;
    }
    .article-content h6 {
        font-size: 14px;
    }
    .article-content code {
        margin: 3px;
    }
    .article-tags {
        margin-top: 10px;
        padding: 0 20px;
    }
    .article-tags a {
        font-size: 14px;
        padding: 0px 5px;
        border-radius: 0;
    }
    .article-info {
        margin-top: 10px;
        padding: 0 20px;
        color: #ccc;
        span {
            margin-right: 10px;
        }
        span.article-info-icon {
            font-size: 14px;
            margin-right: 5px;
        }
    }
    .article-info-award {
        display: none;
    }
    .article-fns-block {
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        width: 30px;
        border-width: 2px;
    }
    .article-pubinfo {
        margin-bottom: 0px;
    }
    .popbox-in {
        position: absolute;
        left: 20px;
        right: 20px;
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .message-login input {
        width: 95%;
    }
}