@import '../../system/config/config.scss';
body,
html {
    padding: 0;
    margin: 0;
    font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
    -webkit-font-smoothing: antialiased;
    background: #f7f7f7;
}

body a {
    color: #f15623;
    text-decoration: none;
}

@font-face {
    font-family: 'Open Sans';
    src: url($host + '/font/OpenSans-Light.eot?eyv41e');
    src: url($host + '/font/OpenSans-Light.eot?eyv41e#iefix') format('embedded-opentype'), url($host + '/font/OpenSans-Light.ttf?eyv41e') format('truetype'), url($host + '/font/OpenSans-Light.woff?eyv41e') format('woff'), url($host + '/font/OpenSans-Light.svg?eyv41e#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url($host + '/font/icomoon.eot?eyv41e');
    src: url($host + '/font/icomoon.eot?eyv41e#iefix') format('embedded-opentype'), url($host + '/font/icomoon.ttf?eyv41e') format('truetype'), url($host + '/font/icomoon.woff?eyv41e') format('woff'), url($host + '/font/icomoon.svg?eyv41e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import '../scss/component/nav.scss';
.index-copyright-bottom {
    background: rgba(255, 255, 255, 0.95);
}

@import 'copyright.scss';
.links-contenter {
    max-width: 1200px;
    min-width: 800px;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.links-box {
    overflow: hidden;
    color: #333;
}

.links-block {
    float: left;
    width: 30%;
    margin: 1.5%;
    // padding: 10px;
    height: 400px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.link-block-content {
    padding: 10px;
    font-size: 14px;
    a {
        display: block;
        font-size: 16px;
        padding: 10px 0;
    }
}

.links-block-title {
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
}

.links-block p {
    margin: 0;
    line-height: 1.6em;
}

.links-block-img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    // margin-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
    background-position: center;
    transition: all 0.4s ease-in;
}

.links-block-img img {
    opacity: 0;
    width: 100%;
    
    float: left;
}

@media (max-width: 800px) {
    .links-box {
        padding: 10px;
    }
    .global-nav-text-link li a {
        color: #fff;
        background: rgba(51, 51, 51, 0.95);
        border-bottom: 1px solid #484848;
    }
    .links-contenter {
        min-width: 0;
        margin: 0;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    .links-block {
        float: inherit;
        width: auto;
        padding: 0;
        height: auto;
        margin: 0;
        width: 100%;
        margin-bottom: 40px;
        font-size: 14px;
    }
    .links-block img {
        max-width: 100%;
    }
}

.index-copyright-bottom-txt {
    background: white;
}