section.global-nav-text
    div.global-nav-text-logo I'm Mofei
    a.global-nav-btn#navTar(href="#")
    div.global-nav-text-link
        ul
            li
                a.active(href="/") Index
                a(href="/blog") Blog
                a(href="/lab") Lab
                a(href="/message") Message
                a(href="/links") Friends
                a(href="/rss") Rss
                a(href="https://www.zhuwenlong.com") 中文