@charset "UTF-8";
body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

@font-face {
  font-family: 'Open Sans';
  src: url("/font/OpenSans-Light.eot?eyv41e");
  src: url("/font/OpenSans-Light.eot?eyv41e#iefix") format("embedded-opentype"), url("/font/OpenSans-Light.ttf?eyv41e") format("truetype"), url("/font/OpenSans-Light.woff?eyv41e") format("woff"), url("/font/OpenSans-Light.svg?eyv41e#OpenSans-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

body,
h1,
h2 {
  font-family: Open Sans, Tahoma, Arial, Roboto, ”Droid Sans”, ”Helvetica Neue”, ”Droid Sans Fallback”, ”Heiti SC”, ”Hiragino Sans GB”, Simsun, sans-self; }

body {
  background: url("/image/index/cover.jpg") center center;
  background-size: cover; }

.global-nav-text {
  font-family: Arial,'Hiragino Sans GB',冬青黑,'Microsoft YaHei',微软雅黑,SimSun,宋体,Helvetica,Tahoma,'Arial sans-serif';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: none; }

.body-content {
  min-width: 800px;
  height: 100%;
  width: 100%; }

.global-nav-text {
  height: 50px;
  line-height: 50px;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  overflow: hidden; }

.global-nav-text-logo {
  float: left;
  font-size: 20px;
  margin-left: 40px; }

.global-nav-text-link {
  float: right;
  margin-right: 40px; }

.global-nav-text-link li,
.global-nav-text-link ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.global-nav-text-link li a {
  color: #fff;
  text-decoration: none;
  margin: 0 8px; }

.global-nav {
  position: fixed;
  top: 0;
  left: 0;
  /*background: #2e3842;*/
  width: 100%;
  color: #fff;
  z-index: 10000;
  vertical-align: middle; }

.global-nav-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 35px;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px; }

.global-nav-bar {
  position: fixed;
  top: 0;
  right: -388px;
  width: 388px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10001;
  transition: all 0.3s ease-in; }

.global-nav-bar li,
.global-nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.global-nav-bar ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #ccc;
  text-decoration: none;
  padding: 0 20px;
  transition: all 0.3s ease-in; }

.global-nav-bar ul a.active,
.global-nav-bar ul a:hover {
  color: #3c3c3c;
  background: #c3c4c6; }

.global-nav-btn:after {
  content: ' ';
  width: 40px;
  height: 40px;
  float: right;
  background: url("/image/index/bars.svg") no-repeat center; }

.global-nav-close {
  height: 50px;
  display: block;
  background: url("/image/index/close.svg") no-repeat 96% center; }

.global-nav-bg {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  opacity: 0;
  transition: all 0.3s ease-in;
  display: none; }

.global-nav.active .global-nav-bar {
  right: 0; }

.global-nav.active .global-nav-bg {
  opacity: 1; }

@media (max-width: 800px) {
  .global-nav-btn {
    display: block; }
  .global-nav-text {
    overflow: visible; }
  .global-nav-text-logo {
    margin-left: 10px; }
  .global-nav-text-link {
    display: none;
    margin-right: 0;
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 1000; }
  .global-nav-text-link li a {
    display: block;
    background: rgba(249, 251, 248, 0.8);
    margin: 0;
    padding: 0 10px;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #F1F1F1;
    font-size: 18px; } }

.global-nav-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3); }

#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s; }

.videobg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -50;
  background: rgba(0, 0, 0, 0.7); }

.index {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; }

.index-cover-mini {
  display: none; }

.index-cover h2 {
  font-size: 16px;
  color: #999;
  animation: titleh2 3s ease-in; }

.index-cover .title {
  text-align: center;
  color: #fff;
  height: 360px;
  width: 100%;
  margin-top: -280px;
  position: absolute;
  top: 55%;
  font-family: sans-serif;
  animation: titlepos 1s ease-in; }

.index-cover .title h1 {
  display: none;
  text-align: center;
  font-size: 66px;
  font-weight: 300;
  margin-bottom: 10px; }

.index-cover svg {
  max-width: 1200px;
  margin: 0 auto; }

.index-cover svg path {
  fill: transparent;
  stroke: #fff;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  animation: title 4s ease-in forwards; }

.index-cover nav {
  max-width: 1200px;
  margin: 0 auto; }

.index-cover nav a {
  color: #ccc;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 6px; }

.index-cover .nav-main {
  float: left; }

.index-cover .nav-sub {
  float: right; }

.index-cover .btn {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 160px;
  margin-left: -80px;
  padding: 10px 0;
  animation: titleh2 3s ease-in; }

.btn {
  position: relative;
  transition: all 0.15s ease-in;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  font-size: 18px;
  outline: none;
  cursor: pointer; }

.btn:after {
  transition: all 0.15s ease-in;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  content: ' ';
  opacity: 0;
  border: 1px solid #fff; }

.btn:hover {
  background: rgba(255, 255, 255, 0);
  color: #fff; }

.btn:hover:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1; }

@keyframes title {
  0% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000; }
  80% {
    stroke-dashoffset: 0;
    fill: transparent; }
  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill: rgba(0, 0, 0, 0.2); } }

@keyframes titlepos {
  0% {
    margin-top: -250px;
    opacity: 0; }
  100% {
    margin-top: -280px;
    opacity: 1; } }

@keyframes titleh2 {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.index-about {
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  padding: 60px 0 80px; }

.index-about p {
  margin: 8px; }

.index-about .img {
  margin: 0 auto 30px;
  text-align: center;
  border-radius: 100px;
  width: 120px;
  height: 120px;
  border: 20px solid #fff;
  box-shadow: 0 0 1px #333; }

.index-about .img img {
  height: 0;
  width: 0; }

.index-about-identity .img {
  background: url("/image/index/idnetity.jpg");
  background-size: cover; }

.index-about-work .img {
  background: url("/image/index/work.jpg");
  background-size: cover; }

.index-about-dream .img {
  background: url("/image/index/dream.jpg");
  background-size: cover; }

.index-about-identity:hover .img {
  background: url("/image/index/idnetity.gif");
  background-size: cover; }

.index-about-work:hover .img {
  background: url("/image/index/work.gif");
  background-size: cover; }

.index-about-dream:hover .img {
  background: url("/image/index/dream.gif");
  background-size: cover; }

.index-about h2 {
  text-align: center;
  margin: 20px;
  font-size: 66px;
  font-weight: 300; }

.index-about-who {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.index-about-block {
  float: left;
  width: 28%;
  padding: 2%;
  line-height: 1.6em; }

.index-travel {
  background: #4a6ebc;
  overflow: hidden;
  color: #fff; }

.index-coffee h2,
.index-content h2,
.index-travel h2 {
  font-size: 66px;
  font-weight: 300;
  margin: 40px 0 15px;
  text-align: center; }

.index-coffee h3,
.index-content h3,
.index-travel h3 {
  font-size: 26px;
  font-weight: 300;
  /*font-size: 14px;*/
  text-align: center; }

.index-travel-world {
  margin: 40px 0; }

.index-coffee {
  padding: 40px 0 80px;
  overflow: hidden;
  color: #333;
  background: rgba(255, 255, 255, 0.85); }

.index-coffee p {
  font-size: 16px;
  line-height: 1.6em;
  /*text-align: center;*/
  margin: 10px auto;
  padding: 0 20px;
  max-width: 1200px; }

.index-content {
  background: #363941;
  overflow: hidden;
  color: #ccc;
  position: relative; }

.index-content-tips {
  margin-left: 10px;
  color: #A5A5A5;
  opacity: 0;
  transition: all 0.8s ease-out; }

.index-content .btn {
  padding: 8px 0;
  width: 140px; }

.index-content input,
.index-content textarea {
  color: #ccc;
  border: none;
  background: #484b53;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  width: 90%; }

.index-content input:disabled,
.index-content textarea:disabled {
  color: #999; }

.index-content textarea {
  width: 95%;
  height: 8em; }

.index-content-box {
  margin: 40px auto;
  padding: 40px 0 40px 3.5%;
  max-width: 1200px;
  overflow: hidden;
  border-top: 1px solid #484b53; }

.index-content-boxblock {
  overflow: hidden; }

.index-content-message {
  box-sizing: border-box;
  padding: 5px; }

.index-content-boxhalf {
  float: left;
  width: 50%; }

.index-media {
  border-top: 1px solid #484b53;
  background: #363941;
  padding: 50px 0;
  color: #fff;
  text-align: center; }

.index-media a {
  text-decoration: none; }

.index-media .btn {
  height: 80px;
  width: 80px;
  border-radius: 60px;
  display: inline-block;
  line-height: 80px;
  text-align: center;
  padding: 10px;
  margin: 0 10px; }

.index-media .btn:after {
  border-width: 2px;
  border-radius: 60px; }

.index-copyright-top {
  opacity: 0.95;
  height: 50px;
  background: #fff;
  width: 100%; }

.index-copyright-mid {
  opacity: 0.95;
  overflow: hidden;
  height: 127px;
  position: relative; }

.index-copyright-midleft {
  width: 50%;
  margin-left: -206px;
  top: 0;
  left: 0;
  background: #fff;
  height: 127px; }

.index-copyright-midcenter {
  width: 412px;
  position: absolute;
  left: 50%;
  margin-left: -206px;
  top: 0; }

.index-copyright-midright {
  position: absolute;
  width: 50%;
  margin-right: -206px;
  top: 0;
  right: 0;
  background: #fff;
  height: 127px; }

.index-copyright-bottom {
  /*opacity: 0.95;*/
  background: rgba(255, 255, 255, 0.95);
  padding-top: 50px; }

.index-copyright-bottom-txt {
  text-align: center;
  background: #eee;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em; }

.index-copyright-bottom-txt a {
  color: #f15623;
  text-decoration: none; }

.popbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  z-index: 10000;
  transition: all 0.5s ease-in; }

.popbox-in {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  margin: -200px;
  background: white; }

.popbox-close {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  margin: -20px;
  background: url("/image/index/close.svg") no-repeat center #999;
  cursor: pointer; }

@media (max-width: 800px) {
  .body-content {
    min-width: 0; }
  .index-cover {
    display: none; }
  .btn {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px; }
  .index-cover-mini {
    display: block;
    background: url("/image/index/cover.jpg") center center;
    background-size: cover; }
    .index-cover-mini .mini-title {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      padding: 0 20px;
      left: 0;
      height: 320px;
      margin-top: -160px;
      margin-top: -35vh;
      text-align: center;
      color: #fff; }
      .index-cover-mini .mini-title h1,
      .index-cover-mini .mini-title h2 {
        font-weight: 300; }
      .index-cover-mini .mini-title h1 {
        font-size: 50px;
        font-size: 16vw; }
      .index-cover-mini .mini-title h2 {
        font-size: 16px;
        font-size: 5vw;
        line-height: 2em;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
        .index-cover-mini .mini-title h2 p {
          margin: 0; }
    .index-cover-mini .cover-more {
      position: absolute;
      width: 50%;
      bottom: 15%;
      left: 50%;
      margin-left: -25%;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .index-about,
  .index-coffee {
    padding: 0 0 40px;
    font-size: 14px; }
    .index-about p,
    .index-coffee p {
      font-size: 14px;
      margin: 0;
      line-height: 1.6em; }
  .index-about h2,
  .index-coffee h2,
  .index-content h2,
  .index-travel h2 {
    margin-top: 40px;
    font-size: 28px; }
  .index-coffee h3,
  .index-content h3,
  .index-travel h3 {
    font-size: 14px; }
  .index-about-block {
    width: auto;
    padding: 10px 20px;
    margin: 10px;
    background: white;
    border-radius: 6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    float: none; }
  .index-about .img {
    width: 100%;
    height: 60px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 10px; }
  .index-about-identity .img,
  .index-about-identity:hover .img {
    background: url("/image/index/idnetity.gif") no-repeat center;
    background-size: contain; }
  .index-about-work .img,
  .index-about-work:hover .img {
    background: url("/image/index/work.gif") no-repeat center;
    background-size: contain; }
  .index-about-dream .img,
  .index-about-dream:hover .img {
    background: url("/image/index/dream.gif") no-repeat center;
    background-size: contain; }
  .index-travel-world {
    margin: 20px 10px; }
  .index-content-box {
    margin: 0 10px;
    padding: 0;
    font-size: 12px; }
    .index-content-box p {
      margin: 10px 0; }
  .index-content-boxhalf {
    box-sizing: border-box;
    padding: 0 5px; }
  .index-content input,
  .index-content textarea {
    width: 100%; }
  .index-content-btn {
    padding: 10px 5px;
    box-sizing: border-box; }
  .index-content .btn {
    width: 100%;
    font-size: 14px; }
  .index-content-tips {
    display: block;
    text-align: center;
    margin-left: 0;
    margin-bottom: 5px; }
  .index-media .btn {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    margin-bottom: 10px; }
  .index-copyright-midcenter {
    width: 208px;
    margin-left: -104px;
    height: 64px; }
  .index-copyright-midcenter img {
    width: 208px;
    height: 64px; }
  .index-copyright-midleft {
    margin-left: -104px;
    height: 64px; }
  .index-copyright-midright {
    margin-right: -104px;
    height: 64px; }
  .index-copyright-mid {
    height: 64px; }
  .index-copyright-top {
    height: 25px; }
  .index-copyright-bottom {
    padding-top: 2; } }
