@charset "UTF-8";
body,
html {
  padding: 0;
  margin: 0;
  font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
  -webkit-font-smoothing: antialiased;
  background: #f7f7f7; }

body a {
  color: #f15623;
  text-decoration: none; }

@font-face {
  font-family: 'Open Sans';
  src: url("/font/OpenSans-Light.eot?eyv41e");
  src: url("/font/OpenSans-Light.eot?eyv41e#iefix") format("embedded-opentype"), url("/font/OpenSans-Light.ttf?eyv41e") format("truetype"), url("/font/OpenSans-Light.woff?eyv41e") format("woff"), url("/font/OpenSans-Light.svg?eyv41e#OpenSans-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("/font/icomoon.eot?eyv41e");
  src: url("/font/icomoon.eot?eyv41e#iefix") format("embedded-opentype"), url("/font/icomoon.ttf?eyv41e") format("truetype"), url("/font/icomoon.woff?eyv41e") format("woff"), url("/font/icomoon.svg?eyv41e#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.global-nav-text {
  height: 50px;
  line-height: 50px;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  overflow: hidden; }

.global-nav-text-logo {
  float: left;
  font-size: 20px;
  margin-left: 40px; }

.global-nav-text-link {
  float: right;
  margin-right: 40px; }

.global-nav-text-link li,
.global-nav-text-link ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.global-nav-text-link li a {
  color: #fff;
  text-decoration: none;
  margin: 0 8px; }

.global-nav {
  position: fixed;
  top: 0;
  left: 0;
  /*background: #2e3842;*/
  width: 100%;
  color: #fff;
  z-index: 10000;
  vertical-align: middle; }

.global-nav-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 35px;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px; }

.global-nav-bar {
  position: fixed;
  top: 0;
  right: -388px;
  width: 388px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10001;
  transition: all 0.3s ease-in; }

.global-nav-bar li,
.global-nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.global-nav-bar ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #ccc;
  text-decoration: none;
  padding: 0 20px;
  transition: all 0.3s ease-in; }

.global-nav-bar ul a.active,
.global-nav-bar ul a:hover {
  color: #3c3c3c;
  background: #c3c4c6; }

.global-nav-btn:after {
  content: ' ';
  width: 40px;
  height: 40px;
  float: right;
  background: url("/image/index/bars.svg") no-repeat center; }

.global-nav-close {
  height: 50px;
  display: block;
  background: url("/image/index/close.svg") no-repeat 96% center; }

.global-nav-bg {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  opacity: 0;
  transition: all 0.3s ease-in;
  display: none; }

.global-nav.active .global-nav-bar {
  right: 0; }

.global-nav.active .global-nav-bg {
  opacity: 1; }

@media (max-width: 800px) {
  .global-nav-btn {
    display: block; }
  .global-nav-text {
    overflow: visible; }
  .global-nav-text-logo {
    margin-left: 10px; }
  .global-nav-text-link {
    display: none;
    margin-right: 0;
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 1000; }
  .global-nav-text-link li a {
    display: block;
    background: rgba(249, 251, 248, 0.8);
    margin: 0;
    padding: 0 10px;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #F1F1F1;
    font-size: 18px; } }

.index-copyright-bottom {
  background: rgba(255, 255, 255, 0.95); }

.index-copyright-bottom-txt {
  text-align: center;
  background: #eee;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em; }

.index-copyright-bottom-txt a {
  color: #f15623;
  text-decoration: none; }

.links-contenter {
  max-width: 1200px;
  min-width: 800px;
  padding: 10px 0;
  box-sizing: border-box;
  margin: 0 auto; }

.links-box {
  overflow: hidden;
  color: #333; }

.links-block {
  float: left;
  width: 30%;
  margin: 1.5%;
  height: 400px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); }

.link-block-content {
  padding: 10px;
  font-size: 14px; }
  .link-block-content a {
    display: block;
    font-size: 16px;
    padding: 10px 0; }

.links-block-title {
  font-weight: bold;
  padding-bottom: 5px;
  display: inline-block; }

.links-block p {
  margin: 0;
  line-height: 1.6em; }

.links-block-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-bottom: 1px solid #f4f4f4;
  background-position: center;
  transition: all 0.4s ease-in; }

.links-block-img img {
  opacity: 0;
  width: 100%;
  float: left; }

@media (max-width: 800px) {
  .links-box {
    padding: 10px; }
  .global-nav-text-link li a {
    color: #fff;
    background: rgba(51, 51, 51, 0.95);
    border-bottom: 1px solid #484848; }
  .links-contenter {
    min-width: 0;
    margin: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; }
  .links-block {
    float: inherit;
    width: auto;
    padding: 0;
    height: auto;
    margin: 0;
    width: 100%;
    margin-bottom: 40px;
    font-size: 14px; }
  .links-block img {
    max-width: 100%; } }

.index-copyright-bottom-txt {
  background: white; }
