extends ../layout.jade

block title
    title 实验室 - I'm Mofei

block css
    link(rel="stylesheet" href= host + "/css/lab.css")

block javascript
    script(src= host + "/js/tools/utility.js")
    script(src= host + "/js/lab/lab.main.js")

block content    
    include ../../system/jade/nav.jade
    section.lab
        div.lab-box
            div.lab-block-addone
                div.lab-block
                    a(href="https://github.com/huiyan-fe/mapv" target="_blank")
                        img(src= host + "/image/lab/mapv.jpg")
                    .lab-block-content
                        div.lab-block-title 
                            a(href="https://github.com/huiyan-fe/mapv" target="_blank") Mapv    
                        div.lab-block-intro 领先的地理大数据可视化开源库。
                        div.lab-block-author Author By
                            a(href="http://nikai.us/" target="_blank") 倪楷
                            span as first author And
                            a(href="http://www.zhuwenlong.com" target="_blank") Mofei
                            span as co-first author
                div.lab-block
                    a(href="https://zmofei.github.io/jDate/demo/" target="_blank")
                        img(src= host + "/image/lab/jDate.jpg")
                    .lab-block-content
                        div.lab-block-title 
                            a(href="/lab/mstaticize" target="_blank") jDate
                        div.lab-block-intro ..makes DATE & TIME choose easy that your think。
                        div.lab-block-author Author By
                            a(href="http://www.zhuwenlong.com" target="_blank") Mofei
                            span as first author
                div.lab-block
                    a(href="/lab/mstaticize" target="_blank")
                        img(src= host + "/image/lab/mstaticize.jpg")
                    .lab-block-content
                        div.lab-block-title 
                            a(href="/lab/mstaticize" target="_blank") mStaticize
                        div.lab-block-intro ☺ 使用 mStaticize 通过简单的配置，就可以实现前端资源的静态化（hash），自动替换资源引用等实用的前端文件打包功能。
                        div.lab-block-author Author By
                            a(href="http://www.zhuwenlong.com" target="_blank") Mofei
                            span as first author
            div.lab-block-addone
                div.lab-block
                    a(href="https://github.com/zmofei/dufing" target="_blank")
                        img(src= host + "/image/lab/dufing.jpg")
                    .lab-block-content
                        div.lab-block-title 
                            a(href="https://github.com/zmofei/dufing" target="_blank") Dufing
                        div.lab-block-intro 一个轻量级，基于文件系统的node.js web server框架。
                        div.lab-block-author Author By
                            a(href="http://www.zhuwenlong.com" target="_blank") Mofei
                            span as first author
            
    section.index-copyright
        div.index-copyright-bottom
            include ../copyright.jade
