extends ../layout.jade

block title
    title 博客 - I'm Mofei

block css
    link(rel="stylesheet" href="/css/lab.css")

block javascript
    script(src="/js/tools/utility.js")

block content    
    include ../../system/jade/nav.jade
    section.lab lab
    section.index-copyright
        div.index-copyright-bottom
            div.index-copyright-bottom-txt (C) 2016 by 
                a(href="http://www.zhuwenlong.com") Mofei 

