.blog-pages {
    padding: 10px 0;
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

.blog-pages a,
.blog-pages span {
    color: #999;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #fff;
    margin: 0 2px;
    background: white;
    font-size: 14px;
}

.blog-pages a.active,
.blog-pages a:hover {
    border-radius: 2px;
    border: 1px solid #f15623;
    color: #fff;
    background: #f15623;
}