div.index-copyright-bottom-txt 
    div
        span (C) 2010-2016 code & design by 
        a(href="http://www.zhuwenlong.com" target="_blank") Mofei
        span  powered by  
        a(href="https://github.com/zmofei/dufing" target="_blank") Dufing
    div
        span 感谢
        a(href="https://portal.qiniu.com/signup?code=3ljwgut1tqvde" target="_blank")  七牛云存储 
        span 提供静态资源空间。
    div
        span 本站使用 
        a(href="https://www.aliyun.com" target="_blank") 阿里云 
        span 提供的云服务器，如果您也需要云服务器请在确认订单时输入推荐码 orjct8 可享受九折优惠。
    