div.index-copyright-bottom-txt 
    div
        span (C) 2010-2016 code & design by 
        a(href="http://www.zhuwenlong.com" target="_blank") Mofei
        span  powered by  
        a(href="https://github.com/zmofei/dufing" target="_blank") Dufing
        
    