extends ./layout.jade

block title
    title Hi! I'm Mofei
    title= host

block css
    link(rel="stylesheet" href= host + "/css/index.css")

block javascript
    script(src= host + "/js/tools/utility.js")
    script(src= host + "/js/index.js")
    script(src= host + "/js/world.js")

block content
    div.body-content
        include ../system/jade/nav.en.jade
        video#bgvid(autoplay, loop, poster= host + '/image/index/cover.jpg')
            source(src= host + '/video/bgvid.webm', type='video/webm')
            source(src= host + '/video/bgvid.mp4', type='video/mp4')
            source(src= host + '/video/bgvid.ogv', type='video/ogv')
        div.videobg
        section.index.index-cover-mini
            div.mini-title
                h1 I AM MOFEI
                h2 
                    p Open a coffee shop
                    p Travel around the world
                    p That should be my life
            button.btn.cover-more#More Learn More
        section.index.index-cover
            div.title
                svg#title(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 1000 200', enable-background='new 0 0 1000 200', xml:space='preserve')
                  g
                    path(d='M139.8,155.7V51.1h7.1v104.6H139.8z')
                    path(d='M216.2,155.7l41.5-104.6h8.8l40.9,104.6h-8.1l-13.4-33.5h-48.3l-13.4,33.5H216.2zM283.2,115.5l-21.5-56.3l-22,56.3H283.2z')
                    path(d='M320.1,155.7V51.1h11.1l38.3,95.8l38.1-95.8h11.1v104.6h-7.1V59.2l-39,96.5h-6.5l-39-96.5                v96.5H320.1z')
                    path(d='M497.7,155.7V51.1h11.1l38.3,95.8l38.1-95.8h11.1v104.6h-7.1V59.2l-39,96.5h-6.5l-39-96.5                v96.5H497.7z')
                    path(d='M625.9,142.3c-8.5-9.8-12.7-22.7-12.7-38.8c0-16.7,4.2-30,12.7-40c8.5-10,19.8-15,33.9-15                c14.1,0,25.4,5,33.9,15c8.5,10,12.7,23.3,12.7,40c0,16.1-4.2,29-12.7,38.8c-8.5,9.8-19.8,14.6-33.9,14.6C645.7,156.9,634.4,152,625.9,142.3zM688.6,137.5c7.2-8.5,10.8-19.8,10.8-34c0-14.6-3.6-26.3-10.8-35.1c-7.2-8.8-16.8-13.2-28.8-13.2s-21.6,4.4-28.8,13.2c-7.2,8.8-10.8,20.5-10.8,35.1c0,14.2,3.6,25.6,10.8,34c7.2,8.6,16.8,12.9,28.8,12.9S681.4,146.1,688.6,137.5z')
                    path(d='M723.3,155.7V51.1H788V58h-57.7v40.2h51v6.5h-51v51H723.3z')
                    path(d='M800.4,155.7V51.1h68.3V58h-61.2v40.2h55.9v6.5h-55.9V149h61.2v6.7H800.4z')
                    path(d='M881.9,155.7V51.1h7.1v104.6H881.9z')
                h2 Open a coffee shop, travel around the world, that should be my life.    
            button.btn.cover-more#More Learn More
        section.index-about
            h2 WHO AM I.
            div.index-about-who
                div.index-about-block.index-about-identity
                    div.img
                        img(src= host + "/image/index/idnetity.gif")
                    p Mofei，chinese name Wenlong Zhu.
                    p Born in 1989 AD, Located in latitude 32.6167 ° longitude 116.9833 °, Earth, Milky Way, Chi people, People, Human, Senior animals.
                    p Friendly, A little bitchy but adorable, Full of strange ideas,love and hate clear, typical Scorpio.
                div.index-about-block.index-about-work
                    div.img
                        img(src= host + "/image/index/work.gif")
                    p Computer & Program fans.
                    p Start Front-End from 2011, 4 year working in ShangHai-Yiban, Move to Chinese bigest IT company BeiJing-Baidu in 2014.10 to be a awesome FullStake engineer.
                    p Work with HTML(5), CSS(3), JAVASCRIPT, NODE.JS, PHP, MONGODB, REDIS, LINUX。
                div.index-about-block.index-about-dream
                    div.img
                        img(src= host + "/image/index/dream.gif")
                    p Arty & Dream follower.
                    p Been to Tibet. The South/North Pole,mount Everest are the places where I muse went there by my own foot.
                    p Dream of opening a coffee shop, telling my own story of traveling around the world。
        section.index-travel
            h2 Travel around the world.
            h3 That's one of my LIFE GOAL
            div.index-travel-world#map
        section.index-coffee
            h2 A Dream follower.
            h3 This world , should a coffee shop called mofei
            p I want to have a cafe.
            p Do not need too big, every lazy afternoon, you can meet a group of dreamers with dreams.
            p Must have pictures, walk in every corner of the coffee shop, always attract by those, careful taste, this is life.
            p Be sure to have storys, every sunny afternoon, there will always be a wise sharer, telling of his life. Occasionally there will be rose level characters, telling his "Titanic"。
            p To be warm. When you sad or unhappy, always think of this coffee shop, find a comfortable sofa, taste the grinding of handmade coffee. listening to the story of 'rose', suddenly laughter can not help laughing, and then not Puzzled cover her mouth, in exchange for all the people knowing smile
        section.index-content
            h2 Contact me
            h3 If you have any question, please feel free contact me.
            div.index-content-box
                div.index-content-boxblock
                    div.index-content-boxhalf
                        label
                            p NickName：
                            p
                                input#username
                    div.index-content-boxhalf
                        label
                            p Contact information：
                            p
                                input#email
                div.index-content-message 
                    label
                        p Content:
                        p
                            textarea#message
                div.index-content-btn
                    button.btn#send Send
                span.index-content-tips#tips Message Sended
        section.index-media
            a(href="http://weibo.com/zwl1027" target="_blank").btn WeiBo
            a(href="https://github.com/zmofei" target="_blank").btn Github
            span.btn#wechat Wechat
            span.btn#qq QQ
            a(href="https://www.facebook.com/zhuwenlong" target="_blank").btn Facebook
            a(href="https://www.linkedin.com/in/mofei-zhu-0a391476" target="_blank").btn LinkedIn
        section.index-copyright
            div.index-copyright-top
            div.index-copyright-mid
                div.index-copyright-midleft
                div.index-copyright-midcenter
                    img(src= host + "/image/index/logo.png" width="412")
                div.index-copyright-midright
            div.index-copyright-bottom
                include copyright.en.jade
                    
