include ../system/config/config.jade

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    if meta
      meta(name="description" content=meta.title)
    else
      meta(name="description" content="Mofei Zhu, Baidu senior research and development engineer, worked as front-end engineer since 2010, a potential full stack engineer.")
    meta(name="keywords" content="朱文龙,Mofei,Mofei Zhu,Front-end,JavaScript")
    meta(name="author" content="Mofei Zhu")
    meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
    meta(content="yes" name="apple-mobile-web-app-capable")
    block title
    link(rel="alternate" type="application/rss+xml" title="Hi! I'm Mofei" href="/rss")
    link(rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-precomposed_64.png")
    link(rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-precomposed_72.png")
    link(rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-precomposed_144.png")
    link(rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-precomposed_144.png")
    link(rel="icon" href="favicon.ico")
    block css
    block javascriptBeforeLoad
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-109405512-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109405512-1');
  body
    block content
    block javascript
    script.
      var uid = localStorage.getItem('username');
      if(uid){
        uid += '-' + localStorage.getItem('email');
        uid += '-' + localStorage.getItem('website');
        gtag('set', {'user_id': uid});
      }
      //
      var _hmt = _hmt || [];
      (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?f4c53dc35cc4e26ed5f032c0d546a6a0";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
      })();