extends ../../layout.jade

block title
    title 管理系统 - I'm Mofei

block css
    link(rel="stylesheet" href= host + "/css/admin/index.css")

block javascriptBeforeLoad
    script(src= host + "/js/tools/showdown.js")
    
block javascript

block content
    div.admin
        div.admin-slidebar
        div.admin-editor
            form(action="article_post" method="post")
                input.admin-editor-title#title(name="title" placeholder="标题")
                textarea.admin-editor-markdown#text-input(name="content" placeholder="正文内容")
                div.admin-editor-markdown-preview.article-content#preview
                div.publish
                    div.open Post
                    div
                        each blogclass in blogClass
                            label
                                input(type="checkbox" value=blogclass.classid name="class") 
                                span= blogclass.classname
                    div
                        label
                                input(type="radio" value=0 name="state") 
                                span 发布
                        label
                                input(type="radio" value=1 name="state") 
                                span 隐藏URL
                        label
                                input(type="radio" value=2 name="state") 
                                span 草稿
                    div
                        button#pub 发布   
                
    script.
        var converter = new showdown.Converter({
            tables: true,
            tasklists: true
        });
        var $ = function (id) {
            return document.getElementById(id);
        };
        //
        if($("text-input").value == ''){
            var value = localStorage.getItem('article');
            $("text-input").value = value;
            $("preview").innerHTML = converter.makeHtml(value);
        }
        if($("title").value == ''){
            var value = localStorage.getItem('title');
            $("title").value = value;
        }

        //
        $("text-input").addEventListener('input', function () {
            $("preview").innerHTML = converter.makeHtml(this.value);
            localStorage.setItem('article',this.value);
        });
        $("text-input").addEventListener('scroll',function(){
            $("preview").scrollTop=this.scrollTop;
        });

        $("title").addEventListener('input', function () {
            localStorage.setItem('title',this.value);
        });

        $('pub').addEventListener('click', function () {
            console.log($("title").value);
            console.log($("text-input").value);
            var tags = document.querySelectorAll('input:checked');
            var choosedTag = [];
            for(var i =0; i<tags.length; i++){
                choosedTag.push(tags[i].value);
            }
            console.log(choosedTag);
        });