.admin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: grey; }

.admin-slidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 230px;
  background: white;
  border-right: #dfe1e3 1px solid;
  box-sizing: border-box; }

.admin-editor {
  position: absolute;
  left: 230px;
  top: 0;
  right: 0;
  bottom: 0;
  background: white; }

.admin-editor-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #dfe1e3;
  text-indent: 10px;
  font-size: 20px;
  outline: none; }

.admin-editor-markdown {
  position: absolute;
  top: 60px;
  left: 0;
  width: 50%;
  border: none;
  outline: none;
  resize: none;
  padding: 20px;
  font-size: 16px;
  line-height: 1.6em;
  border-right: 1px solid #dfe1e3;
  box-sizing: border-box;
  bottom: 0; }

.admin-editor-markdown-preview {
  position: absolute;
  left: 50%;
  top: 60px;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  line-height: 1.6em;
  overflow: auto; }

.publish {
  position: absolute;
  top: 4px;
  right: 0;
  width: 300px;
  z-index: 10;
  background: white;
  padding: 10px;
  line-height: 1.6em;
  font-size: 12px;
  border: 1px solid #dfe1e3; }
  .publish .open {
    position: absolute;
    left: -52px;
    top: -1px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50px 0 0 50px;
    border: 1px solid #dfe1e3;
    border-right: 1px dashed #f4f4f4;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    color: #f15623; }
  .publish input {
    display: none; }
  .publish input:checked + span {
    color: #f15623; }
  .publish span {
    width: 75px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    margin: 0 10px 0 0;
    cursor: pointer; }
  .publish button {
    color: #f15623;
    background: white;
    border: 1px solid #dfe1e3;
    padding: 5px 10px; }

.article-content,
.article-info,
.article-tags {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 16px;
  color: #444;
  line-height: 1.6em;
  /*padding-top: 30px;*/ }

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  /*color:#8F8F8F;*/
  margin: 29px 0 0;
  font-weight: 300;
  line-height: 1.8em; }

.article-content h1 {
  /*color:#333;*/
  font-size: 34px;
  margin-bottom: 20px; }

.article-content h2 {
  font-size: 27px; }

.article-content h3 {
  font-size: 24px; }

.article-content h4 {
  font-size: 21px; }

.article-content h5 {
  font-size: 18px; }

.article-content h6 {
  font-size: 16px; }

.article-content p {
  margin: 10px 0; }

.article-content a {
  color: #f15623;
  /*text-decoration: none;*/ }

.article-content table,
.article-content td,
.article-content th {
  padding: 5px 15px;
  border-collapse: collapse;
  border: 1px solid #ececec; }

.article-content td {
  color: #666; }

.article-content code {
  background: #f4f4f4;
  padding: 3px 5px;
  margin: 3px 5px;
  display: inline-block;
  /*border-radius: 2px;*/ }

.article-content pre code {
  padding: 10px;
  display: block;
  /*width: 100%;*/
  margin: 0; }

.article-content hr {
  margin: 28px 0;
  border: none;
  border-bottom: 1px solid #F3ECEC; }
