.commend {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0;
    color: #666;
    font-size: 14px;
    .commend-pub {
        background: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
        padding: 10px 20px;
        margin-bottom: 20px;
        transition: all 0.5s ease-in;
        &.active {
            box-shadow: 0 0 10px rgba(0, 114, 255, 0.2);
            .commend-pub-text {
                display: none;
            }
            .commend-pub-box {
                padding: 10px 0;
                height: auto;
            }
            .commend-pub-uname {
                display: block;
            }
            .commend-pub-btn {
                display: inline-block;
            }
        }
        .commend-avatar img {
            width: 40px;
            height: 40px;
        }
    }
    .commend-pub-info {
        overflow: hidden;
    }
    .commend-pub-text {
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: #ccc;
        display: block;
    }
    .commend-pub-uname {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        font-size: 14px;
        color: #f15623;
        cursor: pointer;
        float: left;
        padding: 0 5px;
    }
    .commend-pub-box {
        padding: 0;
        outline: none;
        line-height: 1.6em;
        height: 1px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        transition: all 0.2s ease-in;
    }
    .commend-pub-btn {
        display: none;
        cursor: pointer;
        background: #f4f4f4;
        border: 1px solid #f15623;
        padding: 10px 40px;
        border-radius: 20px;
        &:hover {
            background: #f15623;
            color: #fff;
        }
    }
    .commend-avatar {
        float: left;
        margin-right: 10px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background: url("/image/nobody.jpg");
            background-size: cover;
        }
    }
    .commend-input {
        margin-left: 50px;
        input {
            padding: 3px 5px;
            border: none;
            display: block;
            width: 400px;
            margin: 5px;
            outline: none;
            font-size: 14px;
        }
        .textarea {
            margin: 5px;
            padding: 3px 5px;
            outline: none;
        }
    }
}