extends ../layout.jade

block title
    title 小伙伴 - I'm Mofei

block css
    link(rel="stylesheet" href= host + "/css/links.css")

block javascript
    script(src= host + "/js/links/links.main.js")

block content    
    include ../../system/jade/nav.jade
    section.links#links
        div.links-contenter
            div.links-box
                div.links-block 
                    div.links-block-img(style="background-image:url('" + host + "/image/links/link1.jpg')")
                        a(href="http://bh-lay.com/" target="_blank")
                            img(src= host + "/image/blog/cover.jpg")
                    .link-block-content                            
                        a.links-block-title(href="http://bh-lay.com/" target="_blank") bh-lay.com
                        div 90后天蝎男，前端工程师、全栈开发尝试者以及Github脑残用户，目前厮混在百度上海团队参与桌面百度的相关开发。
                div.links-block 
                    div.links-block-img(style="background-image:url('" + host + "/image/links/link2.png')")
                        a(href="http://nikai.us/" target="_blank")
                            img(src= host + "/image/blog/cover.jpg")
                    .link-block-content
                        a.links-block-title(href="http://nikai.us/" target="_blank") nikai.us
                        div He studied a horticulture degree but he realized he was gonna be a software developer when he wrote his first line of code，currently working for Baidu Map Open Platform creating some lovely data visualizations and maps.
                div.links-block 
                    div.links-block-img(style="background-image:url('" + host + "/image/links/link6.jpg')")
                        a(href="https://www.h5jun.com/" target="_blank")
                            img(src= host + "/image/blog/cover.jpg")
                    .link-block-content
                        a.links-block-title(href="https://www.h5jun.com/" target="_blank") www.h5jun.com
                        div 月影，奇舞团团长，热爱前端开发，JavaScript 程序猿一枚，能写代码也能打杂卖萌说段子。
            div.links-box
                div.links-block 
                    div.links-block-img(style="background-image:url('" + host + "/image/links/link4.png')")
                        a(href="http://xydiva.github.io/" target="_blank")
                            img(src= host + "/image/blog/cover.jpg")
                    .link-block-content
                        a.links-block-title(href="http://xydiva.github.io/" target="_blank") xydiva.github.io
                        div FE developer, English learner, WOWer, Jogger
                div.links-block 
                    div.links-block-img(style="background-image:url('" + host + "/image/links/link3.jpg')")
                        a(href="http://www.lifucheng.com/" target="_blank")
                            img(src= host + "/image/blog/cover.jpg")
                    .link-block-content
                        a.links-block-title(href="http://www.lifucheng.com/" target="_blank") xydiva.github.io
                        div 李福成，一个“简单”的设计师。李福成博客专为热爱网页设计，界面设计的你倾力打造。这里你可以学习和分享最无敌的创意、最精美的视觉、最具国际化意识的作品！也许，在不知不觉的学习中，你会变得不再“简单”！
                div.links-block 
                    div.links-block-img(style="background-image:url('" + host + "/image/links/link5.jpg')")
                        a(href="http://www.fedte.cc/" target="_blank")
                            img(src= host + "/image/blog/cover.jpg")
                    .link-block-content
                        a.links-block-title(href="http://www.fedte.cc/" target="_blank") www.fedte.cc
                        div 大家好！我是 FaLost ,也叫做神棍，是一名前端攻城师，也就是会点JS代码的前端程序猿吧！目前处于学习状态，想在前端的道路上前进不止。
            .links-box
                .links-block
                    div.links-block-img(style="background-image:url('" + host + "/image/links/link8.jpg')")
                        a(href="http://www.hbiger.com/" target="_blank")
                            img(src= host + "/image/blog/cover.jpg")
                    .link-block-content
                        a.links-block-title(href="http://www.hbiger.com/" target="_blank") www.hbiger.com
                        div Archer，一个从前往后的开发

    section.index-copyright
        div.index-copyright-bottom
            include ../copyright.jade
